.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  /* identical to box height, or 114% */

  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #f6f6f6;

  border: 2px solid transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  transition: all 100ms ease-in-out;

  &.btn-sm {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 18px;
  }

  &.btn-md {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 18px 28px;
  }

  &.btn-blue {
    background-color: #4285f4;

    &:hover {
      background-color: #203b7e;
    }

    &:focus {
      border: 0 0 0 0.2rem rgba(#4285f4, 0.4);
      outline: 0;
    }
  }

  &.btn-purple {
    background-color: #8642f4;

    &:hover {
      background-color: #2c0271;
    }

    &:focus {
      border: 0 0 0 0.2rem rgba(#8642f4, 0.4);
      outline: 0;
    }
  }
}
