.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  /* identical to box height, or 114% */

  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #f6f6f6;

  border: 2px solid transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  transition: all 250ms ease-in-out;

  &:focus {
    outline: none;
  }

  &.btn-sm {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 18px;
  }

  &.btn-md {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 18px 28px;
  }

  &.btn-blue {
    background-color: #4285f4;

    &:hover {
      background-color: white;
      color: #203b7e;
    }

    &.btn-outline {
      background-color: white;
      color: #203b7e;

      &:hover {
        color: white;
        background-color: #4285f4;
      }
    }
  }

  &.btn-purple {
    background-color: #8642f4;

    &:hover {
      background-color: white;
      color: #2f2f40;
    }

    &.btn-outline {
      background-color: white;
      color: #2f2f40;

      &:hover {
        color: white;
        background-color: #8642f4;
      }
    }
  }
}
