.modal-curtain {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(30, 59, 127, 0.8);
}

.modal-holder {
  margin: auto;
  padding-top: 258px;
  width: 540px;
}
